
h1{
color: red;}
#prvi{
	background-color: red;
	width: 50%;
	float: left;
	
}
#drugi{
	background-color: blue;
	width: 50%;
	float: left;
}

	
}

.myNav {
	height: 60px;
}



@media (max-width: 500px){
	#prvi {
		clear:both;
		width: 100%
		
	}
#drugi {
	clear: both; 
	width: 100%;
}
}